page-home {
  .scroll-content {
    -webkit-overflow-scrolling: auto !important;
    overflow: unset;
  }
  ion-grid {
    height: 100%;
  }

  ion-row {
    height: 36%;
  }

  #display {
    word-break: break-all;
    background-color: #939393;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 70px;
    font-weight: 200;
    padding-right: 15px;
    padding-left: 15px;
  }

  button {
    height: 100% !important;
    width: 100% !important;
    border-radius: 0 !important;
    border: 1px #939393 solid;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 2.6rem !important;
    font-weight: 500;
    color: #000000;
  }

  .hideCol {
    display: none;
  }
}

#error {
  color: #ff0000;
  text-align: center;
  background: #939393;
  font-size: 22px;
  height: 100%;
}
